/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: hsl(0, 0%, 95%);
}

.container {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.card {
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}

.card1 {
  background-color: hsl(31, 77%, 52%);
  padding: 4.8rem 2.8rem;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
}

.card2 {
  background-color: hsl(184, 100%, 22%);
  padding: 4.8rem 2.8rem;
}

.card3 {
  background-color: hsl(179, 100%, 13%);
  padding: 4.8rem 2.8rem;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.card-icon {
  margin-bottom: 2.4rem;
}

.card-header {
  color: #fff;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.card-info {
  font-size: 1.8rem;
  color: hsl(0, 0%, 95%);
  line-height: 1.9;
  margin-bottom: 9rem;
}

.card-link:link,
.card-link:visited {
  padding: 1.8rem 2.6rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
}

.card-link:active,
.card-link:hover {
  border: 2px solid #fff;
  border-radius: 30px;
}

@media (max-width: 61em) {
  .card {
    grid-template-columns: 1fr;
    padding: 2.4rem;
  }

  .card-link:link,
  .card-link:visited {
    background-color: #fff;
    border-radius: 30px;
  }

  .card1 .card-link {
    color: hsl(31, 77%, 52%);
  }

  .card2 .card-link {
    color: hsl(184, 100%, 22%);
  }

  .card3 .card-link {
    color: hsl(179, 100%, 13%);
  }

  .card1 {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
  }

  .card3 {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 0;
  }

  .container {
    margin-top: 0;
  }
}
